/* BOOTSTRAP STYLE FIX */

.contact__body {
  line-height: 0;

  .header {
    padding-top: 0;
  }

  .footer {
    h2 {
      font-weight: bold;
    }
  }
}

/* STYLES */

.main.contact {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "form__container contact__bitmoji";
  justify-items: center;
  align-items: center;

  .contact__bitmoji {
    grid-area: contact__bitmoji;
    width: 20rem;
    justify-self: left;
    border-radius: 15rem;
    border-top-right-radius: 2rem;
  }

  .contact__form__container {
    grid-area: form__container;
    width: 75%;
    height: 95%;
    padding: 5rem 0;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 5rem;
    }

    .contact__form {
      width: 75%;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .form-control,
      .form-select {
        color: black;
        font-weight: 600;
      }

      .title {
        color: white;
        font-size: 2rem;
      }

      .form__option {
        color: black;
      }
    }
  }

  /* TABLET */

  @media (min-width: 768px) and (max-width: 1080px) {
    & {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas:
        "contact__bitmoji"
        "form__container";

      .contact__bitmoji {
        width: 12rem;
        justify-self: center;
      }

      .contact__form__container {
        width: 95%;

        .contact__form {
          width: 85%;
        }

        h2 {
          font-size: 5rem;
        }
      }
      .footer {
        h2 {
          font-weight: bold;
        }
      }
    }
  }

  /* MOBILE */

  @media (max-width: 767px) {
    & {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas:
        "contact__bitmoji"
        "form__container";

      .contact__bitmoji {
        width: 9rem;
        justify-self: center;
      }

      .contact__form__container {
        width: 95%;

        .contact__form {
          width: 85%;
        }

        h2 {
          font-size: 3rem;
        }
      }
      .footer {
        h2 {
          font-weight: bold;
        }
      }
    }
  }
}
