/** INDEX **/
.landing__container {
  height: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1.2fr;
  grid-template-rows: 1.5fr 1fr;
  grid-template-areas:
    "text laptop"
    "btn laptop";
  align-items: center;
  justify-items: center;
  margin: auto;

  .landing__text__container {
    grid-area: text;
    align-self: end;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 5rem;
      font-weight: lighter;
      color: $template-red;
      font-style: italic;
      border-bottom: dotted $template-red 1px;
    }

    .name {
      display: block;
      font-size: 6.5rem;
      color: #97cbb4;
      margin: 0.1rem;
      margin-bottom: 0.1rem;
    }

    .front {
      border-top: dotted $template-red 1px;
      font-size: 1.8rem;
      color: $template-red;
      font-style: italic;
    }

    .mobile__line {
      color: $template-red;
    }
  }

  .landing__btn {
    grid-area: btn;
    align-self: start;
    background-color: $template-red;
    padding: 0.8rem;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 5rem;
  }

  .laptopIcon {
    grid-area: laptop;
    font-size: 25rem;
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px #fff, 0 0 15px #0fa,
      0 0 30px #0fa, 0 0 40px #0fa, 0 0 50px #0fa, 0 0 100px #0fa;
  }

  /* TABLET */

  @media (min-width: 768px) and (max-width: 1080px) {
    & {
      width: 100%;
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      grid-template-areas:
        "laptop"
        "text"
        "btn";

      .laptopIcon {
        font-size: 20rem;
      }

      .landing__text__container {
        height: 100%;
        width: 80%;
        align-self: center;
        justify-content: center;
        row-gap: 0.5rem;

        h1 {
          font-weight: lighter;
          font-size: 4rem;
        }
        .name {
          font-size: 6.5rem;
        }
        .front {
          font-size: 2rem;
          font-weight: lighter;
        }
      }

      .landing__btn {
        font-size: 2.5rem;
        padding: 1rem;
        margin: 0;
        align-self: center;
      }
    }
  }

  /* MOBILE */

  @media (max-width: 767px) {
    /* LANDING */

    & {
      width: 100%;
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      grid-template-areas:
        "laptop"
        "text"
        "btn";

      .laptopIcon {
        font-size: 14rem;
      }

      .landing__text__container {
        width: 80%;
        align-self: center;
        row-gap: 0.5rem;

        h1 {
          font-weight: lighter;
          font-size: 4rem;
        }
        .mobile__line {
          display: block;
          font-size: 2.5rem;
        }
        .name {
          font-size: 5rem;
        }
        .front {
          font-size: 1.5rem;
          font-weight: lighter;
        }
      }

      .landing__btn {
        margin: 0;
        align-self: center;
      }
    }
  }
}
