.main.projects {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "projects__bitmoji projects__images";

  .projects__bitmoji {
    grid-area: projects__bitmoji;
    width: 20rem;
    align-self: center;
  }

  .projects__images {
    grid-area: projects__images;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;

    .projects__placeholder {
      width: 15rem;
      height: 20rem;
      background-color: #97cbb4;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-weight: bold;
      color: black;
      border-radius: 0.5rem;
    }

    a {
      text-decoration: none;
    }
  }

  @media (max-width: 767px) {

    .projects__bitmoji {
      width: 9rem;
    }
    .projects__images {
      row-gap: 1.5rem;
      width: 100%;
      

      .projects__placeholder {
        width: 7rem;
        height: 9rem;
        font-size: 1.5rem;
      }
    }
  }
}
