.main.projects {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "projects__bitmoji projects__images";

  .projects__bitmoji {
    grid-area: projects__bitmoji;
    width: 20rem;
    align-self: center;
  }

  .projects__images {
    grid-area: projects__images;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;

    .projects__placeholder {
      transition: 1s;
      width: 15rem;
      height: 20rem;
      background-color: $template-green;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-weight: bold;
      border-radius: 0.5rem;

      .projectsTitle{
        color: black;
      }

      .projectsText{
        display:none;
      }
    }

    .projects__placeholder:hover {


      .projectsTitle{
        display: none;
      }

      .projectsText{
        color: black;
        font-size: 1.75rem;
        text-align: center;
        display:block;  
      }
    }

    a {
      text-decoration: none;
    }
  }

  /* TABLET */

  @media (min-width: 768px) and (max-width: 1080px) {
    & {
      .projects__bitmoji {
        width: 20rem;
      }
      .projects__images {
        row-gap: 1.5rem;
        width: 100%;

        .projects__placeholder {
          width: 13rem;
          height: 15rem;
          font-size: 2rem;
        }
      }
    }
  }

  /* MOBILE */

  @media (max-width: 767px) {
    & {
      .projects__bitmoji {
        width: 9rem;
      }
      .projects__images {
        row-gap: 1.5rem;
        width: 100%;

        .projects__placeholder {
          width: 7rem;
          height: 9rem;
          font-size: 1.5rem;
        }

        .projects__placeholder:hover{
          .projectsText{
            font-size: 0.85rem;
          }
        }
      }
    }
  }
}
