/*** TABLET ***/

@media (min-width: 768px) and (max-width: 990px) {
  /* LANDING */

  .landing__container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.65fr auto 0.4fr;
    grid-template-areas:
      "laptopIcon"
      "landing__text"
      "btn";
    justify-items: center;
    align-items: center;
  }

  .landing__text__container {
    grid-area: landing__text;
    text-align: left;
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .landing__text__container h1 {
    color: #e1625f;
    font-size: 5rem;
    border-bottom: dotted 2px #e1625f;
    padding-bottom: 0.5rem;
  }

  .mobile__line {
    color: #e1625f;
  }

  .name {
    color: #97cbb4;
    font-size: 5rem;
  }

  .front {
    color: #e1625f;
    border-top: dotted 2px #e1625f;
    padding-top: 0.5rem;
    font-size: 2.5rem;
  }

  .laptopIcon {
    grid-area: laptopIcon;
    font-size: 25rem;
  }

  .landing__btn {
    grid-area: btn;
    background-color: #e1625f;
    padding: 1.5rem;
    border-radius: 1rem;
    font-size: 3rem;
    font-weight: bold;
  }

  /* HOME */

  .grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.135fr 1fr 0.055fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
    justify-items: center;
  }

  /* HEADER */

  .header {
    grid-area: header;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .header__logo {
    width: 4rem;
  }

  .header__menu {
    width: 100%;
  }

  .header__menu ul {
    display: flex;
    justify-content: space-evenly;
  }

  .header__menu__item {
    list-style: none;
  }

  .header__menu__item a {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Cabin Sketch", cursive;
    color: white;
  }

  /* MAIN */

  .main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.2fr;
    grid-template-areas:
      "bitmoji"
      "text";
    align-items: center;
    justify-items: center;
  }

  .main__text {
    height: 100%;
    grid-area: text;
    align-self: start;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .main__text h1 {
    font-size: 6rem;
    text-align: center;
    color: #e1625f;
  }

  .main__text p {
    font-size: 1.5rem;
    text-align: center;
  }

  .main__networks {
    display: flex;
    justify-content: space-evenly;
  }

  .main__networks span {
    display: none;
  }

  .main__networks i {
    color: #97cbb4;
    font-size: 5rem;
  }

  .main__bitmoji {
    grid-area: bitmoji;
    width: 25rem;
    border-radius: 100%;
    border-top-right-radius: 20%;
  }

  /* FOOTER */

  .footer {
    width: 100%;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer h2 {
    font-size: 1.75rem;
  }

  .footerHeart {
    color: #e1625f;
  }
}

/*** MOBILE ***/


